* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Lato', sans-serif;
  color: #222;
}

/***** HEADER *****/

.top-container {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/main-jpg.jpeg) 60% 25%;
  background-size: cover;
  height: 450px;
}

/* FIXED NAV */

.top-nav {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.07);
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.07);
}

.top-nav p {
  font-size: 12px;
}

.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.offer-name {
  padding-left: 15px;
}

.nav-icon, .logo {
  text-decoration: none;
  color: #222;
  font-size: 24px;
  font-weight: 400;
}

.logo {
  font-family: 'Audiowide', cursive;
}

/* Navigation */

.main-nav {
  visibility: hidden;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  list-style: none;
  padding: 0 15px 15px;
  background-color: #fff;
  transition: all 0.5s;
}

.main-nav li {
  padding: 15px 0;
}

.main-nav li a {
  text-decoration: none;
  color: #222;
  transition: color 0.3s;
}

.main-nav.active {
  visibility: visible;
  height: 210px;
}

/* Title */

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 130px 15px 0;
  text-align: center;
}

.header-title h1 {
  font-size: 38px;
  font-weight: 400;
}

.header-title p {
  padding: 30px 0 60px;
  font-size: 24px;
  font-weight: 300;
}

.btn {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  font-size: 18px;
  border: 2px solid transparent;
  background-color: #222;
  color: #fff;
  transition: all 0.3s;
}

.btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: #222;
  border-color: #222;
}

/* MEDIA */

@media screen and (min-width: 418px) {
  .header-title {
    padding-top: 150px;
  }
  .btn {
    width: 70%;
  }
}

@media screen and (min-width: 767px) {
  .header-title {
    padding-top: 170px;
  }
  .btn {
    width: 200px;
    font-size: 22px;
  }
}

@media screen and (min-width: 940px) {
  .top-nav {
    height: 80px;
  }
  .nav-icon {
    display: none;
  }
  .main-nav {
    position: relative;
    top: 0;
    padding: 0;
    -ms-flex-item-align: center;
    align-self: center;
    visibility: visible;
    display: block;
    height: auto;
    width: auto;
  }
  .main-nav li {
    display: inline-block;
    padding: 0 15px;
  }
  .main-nav li a:hover {
    color: #555;
  }
  .main-nav.active {
    visibility: visible;
    height: auto;
  }
  .top-container {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)), url(../img/main-jpg.jpeg) 60% 40%;
  }
  .header-title {
    text-align: left;
  }
  .btn {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .top-container {
    height: 600px;
  }
  .top-nav {
    padding: 0 10%;
  }
  .header-title {
    padding-left: 10%;
  }
}

/* ==================================
 a.brt
  =================================== */

/* =================================
                Tittle
==================================== */

#tittle h1 {
  margin-left: 5%;
  margin-top: 2%;
}

/* =================================
                banner One
==================================== */

#banner-one {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

#banner-one h1 {
  font-size: 40px;
  margin-top: 5px;
  padding-right: 10px;
  margin-top: 5px;
}

#banner-one h4 {
  width: 100%;
  margin-left: 5%;
  margin-top: 10px;
  padding-bottom: 10px;
}

.full-width {
  margin-left: 5%;
  width: 100%;
}

.full-width h1 {
  float: left;
}

.full-width p {
  margin-left: 5%;
  margin-top: 10px;
}

/* =================================
                banner Two
==================================== */

#banner-two {
  display: flex;
  flex-wrap: wrap;
}

#banner-two h1 {
  color: black;
  font-size: 40px;
}

#banner-two p {
  margin-top: 10px;
}

.first-col h1 {
  float: left;
  padding-right: 10px;
  margin-top: 5px;
}

.first-col {
  margin-left: 5%;
}

.first-col p {
  margin-right: 5%;
}

.second-col h1 {
  float: left;
  padding-right: 10px;
  margin-top: 5px;
}

.second-col {
  margin-left: 5%;
}

.second-col p {
  margin-right: 5%;
}

.third-col h1 {
  float: left;
  padding-right: 10px;
  margin-top: 5px;
}

.third-col {
  margin-left: 5%;
}

.third-col p {
  margin-right: 5%;
}

/* =================================
                APP Banner
==================================== */

.app-h4 {
  margin-left: 5%;
  padding-right: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.app-h1 {
  margin-left: 5%;
  padding-top: 2%;
}

#app {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.circle {
  flex: 4;
  text-align: center;
  margin-left: 10%;
}

/* =================================
                @media screen
==================================== */

@media screen and (max-width: 565px) {
  .full-width p {
    margin-top: 20px;
  }
  .full-width h1 {
    text-align: center;
    margin-bottom: 1px;
    float: none;
  }
  .circle {
    display: flex;
    padding: 10px 0 10px 0px;
  }
}