* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Lato', sans-serif;
  color: #222;
}

.rectangle {
  height: 80px;
  display: block;
  background-color: #f5f5f5;
  padding-top: auto;
  color: #222;
}

.rectangle__h2 {
  margin-left: 350px;
  padding-top: 30px;
  line-height: 25px;
  font-size: 25px;
}

.instructions {
  padding-left: 20px;
  margin-left: 332px;
}

.note {
  margin-top: 90px;
  font-size: 15px;
}

.delivery-option-one {
  margin-top: 45px;
}

.option-one-content {
  margin-top: 30px;
  width: 1244px;
  height: 256px;
}

.inside-content {
  width: 1155px;
  height: 253px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.step-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  width: 335px;
  height: 253px;
  margin-left: 30px;
  padding-top: 20px;
  float: left;
}

.step-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 335px;
  height: 253px;
  float: left;
  padding-top: 20px;
  margin-left: 50px;
}

.step-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 335px;
  height: 253px;
  padding-top: 20px;
  margin-right: 30px;
  float: right;
}

.centered {
  text-align: center;
}

.option-two-content {
  margin-top: 30px;
  width: 1244px;
  height: 256px;
}

.inside-content-two {
  width: 1244px;
  height: 253px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.step-one-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  width: 577.5px;
  height: 253px;
  float: left;

}

.step-two-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  width: auto;
  height: 253px;

}
.btn {

  width:250px;
  margin-bottom: -650px;
  margin-left: 950px;
  padding: 10px;
  font-size: 22px;
  border: 2px solid transparent;
  background-color: #c82059;
  color: #fff;

  border-radius: 0;
}

.btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #c82059;
    border-color: #c82059;
}
.footer{
  margin-top:400px;
  margin-left: auto;
  margin-right: auto;
}
.footer-area{
    background-color: #f5f5f5;
}
.footer-area--text{
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  width:1244px;
  padding: 10px;
  height: auto;
}
/*
.btn {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
    border: 2px solid transparent;
    background-color: #222;
    color: #fff;
    transition: all 0.3s;
}

.btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #222;
    border-color: #222;
}
*/

/* MEDIA */

@media screen and (min-width: 480px) {
  .rectangle {}
}

@media screen and (min-width: 767px) {}

@media screen and (min-width: 940px) {}

@media screen and (min-width: 1200px) {}

*/
